DATABASE_NAME = "your-database-name"
DATABASE_NAME_TEST = "your-test-database-name"

MONGO_URL = "your-mongodb-url"
MONGO_URL_TEST = "your-test-mongodb-url"

REDIS_HOST = "redis-host"
REDIS_PORT = 4040


SMTP_HOST = "smtp-host" # (ex: smtp.gmail.com)
SMTP_PORT = 587
SMTP_USER = "your-email"
SMTP_PASSWORD = "your-email-password"

ACCESS_SECRET_KEY = "your-secret-key-access-token"
REFRESH_SECRET_KEY = "your-secret-key-refresh-token"

ALGORITHM = HS256

ACCESS_TOKEN_EXPIRE_MINUTES = 30
REFRESH_TOKEN_EXPIRE_DAYS = 7